button{
    height: 50px;
    width: 150px;
    border-style: double;
    border-color: green;
    background-color: red;
}
button span::after {
    content: "Pasa por encima";
}
button::before{
    content: "¡¡";
}

button::after{
    content: "!!";
}
button:hover{
    color: white;
    background-color: green;
}

button:hover span::after{
    content: "Hecho";
}